name: Sync Notion to Google Sheets

on:
  schedule:
    - cron: "3 */3 * * *"  # gambiarra pra rodar no fuso horário de Brasília a cada 3 horas
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Decrypt and run
        env:
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          CSN_DB_ID: ${{ secrets.CSN_DB_ID }}
          CHAMEX_DB_ID: ${{ secrets.CHAMEX_DB_ID }}
          ADUNICAMP_DB_ID: ${{ secrets.ADUNICAMP_DB_ID }}
        run: |
          python decrypt.py
          python main.py
